@font-face {
  font-family: 'Droid Sans Mono';
  src: url('../fonts/DroidSansMono.ttf');
}
@font-face {
  font-family: 'Menlo';
  src: url('../fonts/Menlo-Regular.ttf');
}

:root {
  --color-background: #272822;
  --color-text: #60d9f1;
  --color-text-primary: #a4e405;
  --color-text-secondary: #e6dc6d;
  --color-text-code: #aaa;
  --color-text-href: #fc1e70;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Menlo';
  color: var(--color-text);
  background-color: var(--color-background);
  white-space: pre-wrap;
  font-size: 16px;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: 'Droid Sans Mono'; font-size: 1em;
}
h1 {
  color: var(--color-text-primary);
  font-size: 2.2em;
  line-height: 1;
}
h2 {
  color: var(--color-text-primary);
  font-size: 1.5em;
  margin-top: 2rem;
}
h2:before {
  content: '# ';
}
h3 {
  color: var(--color-text-secondary); 
  margin-top: 1rem;
}
h3:before {
  content: '## ';
}
@media (min-width: 450px) {
  h1 {
    color: var(--color-text-primary);
    font-size: 3em;
  }
}
@media (min-width: 600px) {
  h1 {
    color: var(--color-text-primary);
    font-size: 4em;
  }
}
a {
  color: var(--color-text-href);
}
a:hover, a:active {
  text-decoration: none;
}
p, ol, ul {
  padding-left: 1.5rem;
}
ul li {
  list-style: none;
}
ul li:before {
  content: '- ';
}

strong { color: var(--color-text-secondary); font-weight: bolder; }
strong:before, strong:after { content: '**'; }
em:before, em:after { content: '*'; }
.comment { font-style: italic; color: var(--color-text-secondary); }
.comment:before { content: '/* '; }
.comment:after { content: ' */'; }
code {
  color: var(--color-text-code);
}
code:before, code:after {
  content: '`';
}
pre {
  padding: 1rem;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 30px;
  width: 100%;
  max-width: 900px;
  padding-bottom: 100vh;
}

header {
  min-height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .cols {
  align-items: center;
}

.baseline {
  margin: 1rem 0;
  font-size: 1.2em;
  text-align: center;
}

@media (min-width: 600px) {
  font-size: 2em;
}

.cols {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1em 0;
  flex-wrap: wrap;
}

@media (min-width: 800px) {
  header .cols,
  .cols {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .cols.cols-2 > * {
    width: 50%;
  }
}

header .profile-picture {
  height: 300px;
  border: 2px solid var(--color-text-code);
  border-radius: 4px;
}

header h1 {
  margin: 0;
}

.social {
  font-size: 2rem;
  margin: .5rem 0 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.social a {
  transition: transform .5s;
}

.social a:hover, .social a:active {
  transform: scale(1.5);
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  opacity: .3;
  z-index: -1;
  perspective: 1000px;
}

aside {
  position: absolute;
  top: 0;
  width: 100%;
  transform: translate3d(-200px, -600px, -300px) rotateY(60deg);
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

aside + aside {
  position: absolute;
  top: 0;
  width: 100%;
  transform: translate3d(200px, -600px, -300px) rotateY(120deg);
}


.tech-gravity {
  position: relative;
  height: 160px;
  margin: 1rem 0;
  cursor: pointer;
}
.tech-gravity > span {
  position: absolute;
  left: calc(50% - 25px);
  top: 55px;
}
.tech-gravity > span img {
  height: 50px;
}
.tech-gravity  > span:nth-child(1) {
  animation: rotate 4s infinite linear;
}
.tech-gravity  > span:nth-child(2) img {
  animation: orbit1 2s infinite ease-in-out;
}
.tech-gravity  > span:nth-child(3) img {
  animation: orbit2 2s infinite ease-in-out 1.2s;
}
.tech-gravity  > span:nth-child(4) img {
  animation: orbit3 2s infinite ease-in-out .4s;
}
.tech-gravity  > span:nth-child(5) img {
  animation: orbit4 2s infinite ease-in-out 1.6s;
}
.tech-gravity  > span:nth-child(6) img {
  animation: orbit5 2s infinite ease-in-out .8s;
}
.tech-gravity  > span:nth-child(2) {
  animation: proximity 2s infinite linear;
}
.tech-gravity  > span:nth-child(3) {
  animation: proximity 2s infinite linear 1.2s;
}
.tech-gravity  > span:nth-child(4) {
  animation: proximity 2s infinite linear .4s;
}
.tech-gravity  > span:nth-child(5) {
  animation: proximity 2s infinite linear 1.6s;
}
.tech-gravity  > span:nth-child(6) {
  animation: proximity 2s infinite linear .8s;
}
.tech-gravity > a {
  position: absolute;
  left: calc(50% - 25px);
  top: 160px;
  font-size: 50px;
  transition: transform .5s;
}
.tech-gravity:hover > a,
.tech-gravity:active > a {
  transform: translateY(10px) scale(1.2);
}

.tech-gravity > .comment {
  position: relative;
  top: -50px;
  transition: transform .5s;
}

.tech-gravity:hover > .comment,
.tech-gravity:active > .comment {
  transform: translateY(-10px) scale(1.2);
}


@keyframes rotate {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
}
/* = [Math.cos(Math.PI * 1 / 5) * 50, Math.sin(Math.PI * 1 / 5) * 50] */
/* = [Math.cos(Math.PI * 6 / 5) * 50, Math.sin(Math.PI * 6 / 5) * 50] */
@keyframes orbit1 {
  0% {transform: translate(40.5px, 29.5px);}
  50% {transform: translate(-40.5px, -29.5px);}
  100% {transform: translate(40.5px, 29.5px);}
}
/* = [Math.cos(Math.PI * 2 / 5) * 50, Math.sin(Math.PI * 2 / 5) * 50] */
/* = [Math.cos(Math.PI * 7 / 5) * 50, Math.sin(Math.PI * 7 / 5) * 50] */
@keyframes orbit2 {
  0% {transform: translate(15.5px, 47.5px);}
  50% {transform: translate(-15.5px, -47.5px);}
  100% {transform: translate(15.5px, 47.5px);}
}
/* = [Math.cos(Math.PI * 3 / 5) * 50, Math.sin(Math.PI * 3 / 5) * 50] */
/* = [Math.cos(Math.PI * 8 / 5) * 50, Math.sin(Math.PI * 8 / 5) * 50] */
@keyframes orbit3 {
  0% {transform: translate(-15.5px, 47.5px);}
  50% {transform: translate(15.5px, -47.5px);}
  100% {transform: translate(-15.5px, 47.5px);}
}
/* = [Math.cos(Math.PI * 4 / 5) * 50, Math.sin(Math.PI * 4 / 5) * 50] */
/* = [Math.cos(Math.PI * 9 / 5) * 50, Math.sin(Math.PI * 9 / 5) * 50] */
@keyframes orbit4 {
  0% {transform: translate(-40.5px, 29.5px);}
  50% {transform: translate(40.5px, -29.5px);}
  100% {transform: translate(-40.5px, 29.5px);}
}
/* = [Math.cos(Math.PI) * 50, Math.sin(Math.PI) * 50] */
/* = [Math.cos(Math.PI * 2) * 50, Math.sin(Math.PI * 2) * 50] */
@keyframes orbit5 {
  0% {transform: translate(-50px, 0px);}
  50% {transform: translate(50px, 0px);}
  100% {transform: translate(-50px, 0px);}
}

@keyframes proximity {
  0% { transform: scale(1); z-index: 0;}
  25% { transform: scale(1.5); z-index: 1;}
  50% { transform: scale(1); z-index: 0;}
  75% { transform: scale(.75); z-index: -1;}
  100% { transform: scale(1); z-index: 0;}
}
